<!DOCTYPE html>
<html ng-app="manageCompetitors">
    <head>
        <title>Приложение "Соискатели"</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Скрипты -->
        <!--script src="js/jquery-2.1.4.min.js" type="text/javascript"></script-->
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/angularapp.js" type="text/javascript"></script>
        <!--script src="js/script.js" type="text/javascript"></script-->
        <!-- Стили -->
        <link href="css/reset.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="compCtrl" style="background-color: {{settings.background}}">
        <header class="header">
            <div class="c-table">
                <div class="c-cell clip"></div>
                <div class="c-cell app-name">Приложение <span style="float: right">"Соискатели"</span></div>
            </div>
        </header>
        <div class="container add-competitor"><!-- Добавить соискателя -->
            <div class="c-table">
                <div class="c-cell plus" id="show-form"></div>
                <div class="c-cell txt">Добавить соискателя</div>
            </div>
        </div>
        <div class="container tab-container">
            <ul class="tabs">
                <li ng-repeat="li in tabs"><a ng-class="li.class" href="#" ng-click="showTab(li.tab)" onClick="return false">{{li.name}}</a></li>
            </ul>
            <div class="tabs-content" ng-switch on="tab.number">
                <div id="tab-1" ng-switch-default>
                    <h2>Соискатели</h2>
                    <table id="competitors" class="competitors-table">
                        <tr>
                            <th style="width: 30px"></th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th style="width: 350px">Код</th>
                            <th style="width: 30px"></th>
                        </tr>
                        <tr ng-repeat="competitor in competitors">
                            <td><img class="user-edit" src="img/user-edit.png" alt="Редактировать" /></td>
                            <td class="user-name">{{competitor.name}}</td>
                            <td class="user-surname">{{competitor.surname}}</td>
                            <td class="user-id">{{competitor.id}}</td>
                            <td><img title="Удалить соискателя" class="user-delete" src="img/user-delete.png" /></td>
                        </tr>
                    </table>
                    <button type="button" id="users-delete-all">Удалить всех!</button>
                </div>
                <div id="tab-2" ng-switch-when="2">
                    <h2>Настройки</h2>
                    <form class="settings">
                        <fieldset>
                            <legend>Паттерн валидации фамилии</legend>
                            <div>
                                <label for="pattern">Паттерн: <input id="pattern" name="pattern" type="text" placeholder="введите паттерн" /></label>
                                <div class="pattern-show" id="pattern-show"></div>
                                <input type="submit" id="saveSettings" value="Обновить" />
                            </div>
                        </fieldset>
                    </form>
                    <form name="colorSettings" class="settings" ng-submit="addBgColor()">
                        <fieldset>
                            <legend>Внешний вид</legend>
                            <table class="color-settings">
                                <tr>
                                    <td class="caption">Выберите цвет фона:</td>
                                    <td ng-repeat="bgColor in bgColors" style="width: 75px; background-color: {{bgColor}}" ng-click="setBgColor(bgColor)"></td>
                                    <!--td><button type='button'>Сохранить</button></td-->
                                </tr>
                            </table>
                            <table class='new-color'>
                                <tr>
                                    <td><input type="text" name="newColorVal" ng-model="newColor.value" ng-pattern="/^#[0-9a-f]{6}/i" ng-trim placeholder='добавьте цвет фона'/></td>
                                    <td><input type="submit" value='Добавить' /></td>
                                    <td ng-show="colorSettings.newColorVal.$valid" style="width: 100px; background-color: {{newColor.value}}"></td>
                                </tr>
                            </table>
                        </fieldset>
                        <button type="button" id="resetSettings">Сбросить настройки</button>
                        <div>
                            {{settings}}
                        </div>
                    </form>
                </div>
                <div id="tab-3" ng-switch-when="3">
                    <h2>Об авторе</h2>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="c-table" style="height: 60px">
                <div class="c-cell" style="vertical-align: middle;">
                    <div class="author">Автор: <span>Долинин Дмитрий</span></div>
                    <div>
                        <ul class="icons">
                            <li><span>Использовано: </span></li>
                            <li><a href="#">css3</a></li>
                            <li><a href="#">AngularJS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-cell" style="vertical-align: middle; width: 55px">
                    <div class="clip"></div>
                </div>
            </div>
        </footer>
        <div id="texture"></div>
        <div class="overlay">
            <div class="add">
                <div class="h1">Добавить соискателя</div>
                <form action="" class="add-form" id="new-user" onSubmit="return false">
                    <div class="add-form-group">
                        <label for="firstname">Имя: <input name="firstname" id="new-user-name" type="text" placeholder="Ваше имя" /></label>
                    </div>
                    <div class="add-form-group">
                        <label for="surname">Фамилия: <input name="surname" id="new-user-surname" type="text" placeholder="Фамилия" /></label>
                    </div>
                    <div class="add-form-group">
                        <div><label for="multi"><input name="multi" id="multiAdd" type="checkbox" /> Добавить нескольких</label></div>
                        <input type="submit" value="OK" />
                    </div>
                </form>
                <div class="cansel c-table" id="cansel">
                    <div class="c-cell cansel-img"></div>
                    <div class="c-cell cansel-txt">Отмена</div>
                </div>
            </div>
        </div>
    </body>
</html>
