<!DOCTYPE html>
<html ng-app="manageCompetitors">
    <head>
        <title>Приложение "Соискатели"</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Скрипты -->
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/angularapp.js" type="text/javascript"></script>
        <!--script src="js/script.js" type="text/javascript"></script-->
        <!-- Стили -->
        <link href="css/reset.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="compCtrl" style="background-color: #{{settings.background}}">
        <header class="header">
            <div class="c-table">
                <div class="c-cell clip"></div>
                <div class="c-cell app-name">Приложение <span style="float: right">"Соискатели"</span></div>
            </div>
        </header>
        <div class="container add-competitor"><!-- Добавить соискателя -->
            <div class="c-table">
                <div class="c-cell plus" ng-click="showAdd(true)"></div>
                <div class="c-cell txt">Добавить соискателя</div>
            </div>
        </div>
        <div class="container tab-container">
            <ul class="tabs">
                <li ng-repeat="li in tabs"><a ng-class="li.class" href="#" ng-click="showTab(li.tab)" onClick="return false">{{li.name}}</a></li>
            </ul>
            <div class="tabs-content" ng-switch on="tab.number">
                <div id="tab-1" ng-switch-default>
                    <h2>Соискатели</h2>
                    <table id="competitors" class="competitors-table">
                        <tr>
                            <th style="width: 30px"></th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th style="width: 350px">Код</th>
                            <th style="width: 30px"></th>
                        </tr>
                        <tr ng-repeat="competitor in competitors" ng-class-odd="'stripe'">
                            <td><img class="user-edit" src="img/user-edit.png" alt="Редактировать" ng-click="showEdit(true, $index, competitor.name, competitor.surname)" /></td>
                            <td class="user-name">
                                <span ng-hide="edit[$index]">{{competitor.name}}</span>
                                <span ng-show="edit[$index]"><input type="text" ng-model="competitor.name" value="{{competitor.name}}" ng-pattern="settings.pattern" /></span>
                            </td>
                            <td class="user-surname">
                                <span ng-hide="edit[$index]">{{competitor.surname}}</span>
                                <span ng-show="edit[$index]"><input type="text" ng-model="competitor.surname" value="{{competitor.surname}}" ng-pattern="settings.pattern" /></span>
                            </td>
                            <td class="user-id">
                                <span ng-hide="edit[$index]">{{competitor.code}}</span>
                                <span ng-show="edit[$index]">
                                    <!--button type="button" ng-click="">Сохранить</button-->
                                    <input type="submit" value="Сохранить" ng-click="editUser(competitor.id, competitor.name, competitor.surname, $index)" />
                                    <button type="button" ng-click="showEdit(false, $index)">Отмена</button>
                                </span>
                            </td>
                            <td><img ng-click='deleteUser(competitor.name, competitor.surname, competitor.id, $index)' title="Удалить соискателя" class="user-delete" src="img/user-delete.png" /></td>
                        </tr>
                    </table>
                    <button type="button" ng-click="deleteAllUsers()">Удалить всех!</button>
                </div>
                <div id="tab-2" ng-switch-when="2">
                    <h2>Настройки</h2>
                    <form class="settings" name="patternSettings" ng-submit="updatePattern(settings.pattern)" onSubmit="return false">
                        <fieldset>
                            <legend>Паттерн валидации фамилии</legend>
                            <div>
                                <label for="pattern">Паттерн: <input name="pattern" type="text" placeholder="введите паттерн" ng-model="settings.pattern" ng-change="updTxt()" /></label>
                                <div class="pattern-show" id="pattern-show">{{settings.pattern}}</div>
                                <input ng-model="updPatternTxt" type="submit" id="saveSettings" value="{{updPatternTxt}}" />
                            </div>
                        </fieldset>
                    </form>
                    <form name="colorSettings" class="settings" ng-submit="addBgColor()">
                        <fieldset>
                            <legend>Внешний вид</legend>
                            <div class="color-settings"><!-- Новые настройки фона -->
                                <h3>Выберите цвет фона:</h3>
                                <div class="new-bg-color" style="background-color: #{{bgColor}}" ng-repeat="bgColor in bgColors" ng-click="setBgColor(bgColor)"><div ng-show="bgEdit.active" ng-click="deleteColor($event, $index, bgColor)" class="new-bg-color-edit"></div></div>
                            </div>
                            <table class='new-color'>
                                <tr>
                                    <td># <input type="text" name="newColorVal" ng-model="newColor.value" ng-pattern="/^[0-9a-f]{6}/i" ng-trim placeholder='добавьте цвет фона'/></td>
                                    <td><input type="submit" value='Добавить' /></td>
                                    <td ng-show="colorSettings.newColorVal.$valid" style="width: 100px; background-color: #{{newColor.value}}"></td>
                                </tr>
                            </table>
                            <table class="edit-color">
                                <tr>
                                    <td ng-hide="bgEdit.active"><button type="button" ng-click="editPalette(true)">Редактировать палитру</button></td>
                                    <td ng-show="bgEdit.active"><button type="button" ng-click="editPalette(false, true)">Сохранить</button></td>
                                    <td ng-show="bgEdit.active"><button type="button" ng-click="editPalette(false)">Отмена</button></td>
                                </tr>
                            </table>
                        </fieldset>
                        <button type="button" id="resetSettings" ng-click="resetSettings()">Сбросить настройки</button>
                    </form>
                </div>
                <div id="tab-3" ng-switch-when="3" class="resume">
                    <h2>Об авторе</h2>
                    <p>
                        <span><IMG width="795" height="54" src="img/Image_001.png"/></span><br/>
                        <span><IMG width="200" src="img/foto.jpg" style="float: left; margin-right: 20px"/></span>
                    </p>
                    <h1>Долинин Дмитрий  Леонидович</h1>
                    <p>41 год, родился 8 июля 1974<br/>+7 (926) 287-23-67 <span style=" color: #ACACAC;">— желаемый способ  связи</span><br/>+7 (985) 907-90-01 dmitry5151@yandex.ru<br/>Проживает: Москва,  м. Бульвар Дмитрия Донского Гражданство: Россия, есть  разрешение на работу: Россия Не готов к переезду, готов к командировкам</p>
                    <p class="s2">Желаемая должность</p>
                    <h3>Frontend-разработчик</h3>
                    <p>Информационные технологии,  интернет, телеком<br/>• Программирование, Разработка<br/>• Управление проектами<br/>Занятость: полная  занятость, частичная занятость<br/>График работы:  полный день, гибкий график<br/>Желательное время  в пути до работы: не более часа</p><p><span><IMG width="682" height="1" src="resume/Image_003.png"/></span></p>
                    <p class="s3">Опыт работы  — 4 года  5 месяцев</p><p class="s4">Июнь 2011 —</p><p class="s4">настоящее время</p><p class="s4">4 года  5 месяцев</p><h3>Web-ателье</h3><p><a href="http://www.ixum.ru/" class="s5">Москва,  www.ixum.ru</a></p><p class="s6">Веб-разработчик</p><p>Разработка концепции сайта, интерфейса. Дизайн и верстка макета.<br/>Адаптация скриптов  CMS под функционал сайта. Установка сайта на ресурсе, наполнение, отладка.<br/>За 2013й  год создано 6 интернет-магазинов различного уровня сложности.</p>
                    <p class="s2">Образование<span class="s3"> </span><span class="s7">Среднее специальное</span></p>
                    <p class="s4">1992 <span class="h3">ВПУ №310</span></p><p>без  факультета, Электроэнергетические системы  и сети</p><p class="s2">Повышение квалификации, курсы</p>
                    <p class="s4">2011 <span class="h3">Разработка интерфейсов и веб-дизайн</span></p>
                    <p>Московский  Государственный Университет дизайна и технологий,  Разработка интерфейсов и веб-дизайн</p>
                    <p class="s2">Ключевые навыки</p>
                    <p class="s4">Знание языков <span class="p">Русский  </span><span class="s1">— родной</span></p>
                    <p>Английский <span style=" color: #ACACAC;">— базовые знания</span></p>
                    <p class="s8">Резюме обновлено 5 октября 2015 в 14:18</p>
                    <p class="s9"><span class="s4">Навыки </span> Adobe Illustrator<span class="s10">      </span>Adobe Photoshop<span class="s10">     </span>CSS-верстка<span class="s10">     </span>Git<span class="s10">      </span>HTML5<span class="s10">     </span>JavaScript</p>
                    <p class="s9"> JQuery<span class="s10">     </span>LESS<span class="s10">      </span>NetBeans<span class="s10">     </span>PHP5<span class="s10">       </span>shopCMS<span class="s10">     </span>Windows Os<span class="s10">      </span>ООП</p>
                    <p class="s9"> Проектирование пользовательских интерфейсов</p>
                    <p class="s2">Дополнительная информация</p>
                    <p class="s4">Обо мне <span class="p">Личные качества:</span></p>
                    <p>Умение ставить и достигать поставленных целей, стратегическое мышление, нацеленность на результат.<br/>Логическое мышление, умение общаться с клиентом, вести  деловые переговоры и презентации.<br/>Умение находить нестандартные решения задач, интерес к новым знаниям, быстрая обучаемость и умение передавать знания и опыт.<br/>Умение планировать и распределять задачи.</p>
                    <p class="s8">Долинин Дмитрий   •  Резюме обновлено 5 октября 2015 в 14:18</p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="c-table" style="height: 60px">
                <div class="c-cell" style="vertical-align: middle;">
                    <div class="author">Автор: <span>Долинин Дмитрий</span></div>
                    <div>
                        <ul class="icons">
                            <li><span>Использовано: </span></li>
                            <li><a href="#">css3</a></li>
                            <li><a href="#">AngularJS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-cell" style="vertical-align: middle; width: 55px">
                    <div class="clip"></div>
                </div>
            </div>
        </footer>
        <div id="texture"></div>
        <div class="overlay" ng-show="comp.add">
            <div class="add">
                <div class="h1">Добавить соискателя</div>
                <form action="" name="newUserCreate" class="add-form" id="new-user" onSubmit="return false" ng-submit="addCompetitor()">
                    <div class="add-form-group">
                        <label for="firstname">Имя: <input name="firstname" type="text" placeholder="Ваше имя" ng-model="newUserName" ng-pattern="settings.pattern" /></label>
                    </div>
                    <div class="add-form-group">
                        <label for="surname">Фамилия: <input name="surname" type="text" placeholder="Фамилия" ng-model="newUserSurname" ng-pattern="settings.pattern" /></label>
                    </div>
                    <div class="add-form-group">
                        <div><label for="multi"><input name="multi" ng-model="multiUser" type="checkbox" /> Добавить нескольких</label></div>
                        <input type="submit" value="OK" />
                    </div>
                </form>
                <div class="cansel c-table" ng-click="showAdd(false)">
                    <div class="c-cell cansel-img"></div>
                    <div class="c-cell cansel-txt">Отмена</div>
                </div>
            </div>
        </div>
    </body>
</html>
